
.vs/SportStore/v16/Server/sqlite3/db.lock
.vs/SportStore/v16/Server/sqlite3/storage.ide
.vs/SportStore/v16/Server/sqlite3/storage.ide-wal
.vs/SportStore/v16/Server/sqlite3/storage.ide-shm
.vs/SportStore/DesignTimeBuild/.dtbcache
.vs/SportStore/v16/.suo
